@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 250px;
    width: 300px;
}

.popup-container {
    color: white;
    font-family: "Poppins", sans-serif;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    height: 250px;
    width: 300px;
    box-sizing: border-box;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.font-bold {
    font-weight: 700;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-white {
    color: #ffffff;
}

.text-slate-400 {
    color: rgb(148 163 184);
}

.text-slate-300 {
    color: rgb(203 213 225);
}

.m-3 {
    margin: 0.75rem;
}

#toggle {
    display: block;
    width: 55px;
    height: 28px;
    position: relative;
}

#toggle input {
    display: none;
}

#slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9e9d9d;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

#slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + #slider {
    background-color: #2196f3;
}

input:checked + #slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
